.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f9f9f9; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: auto; 
  height: calc(100vh - 40px); 
  position: relative; 
}

ion-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}
